Headers

<div class="header-fields">
<input type="text" name="X-Api-AuthToken" placeholder="privateKey"/>
</div>

<div class="body-fields">
	<input type="text" name="username" placeholder="username"/>
	<input type="text" name="encryptedMessage" placeholder="encryptedMessage"/>
</div>

